<%- include('./header.ejs') %>

  <style>
    .navbar {
      background-color: #0005;
      height: 100px;
    }

    .navbar-nav li {
      padding: 0 10px;
    }

    .navbar-nav li a {
      color: #fff;
      font-weight: 600;
      font-size: 20px;
    }

    .navbar-nav li a:hover {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 6px;
    }

    .cource heading {
      text-transform: uppercase;
      font-size: 40px;
      position: relative;
      font-family: 'prague', sans-serif;
      text-align: center;
      font-weight: bold;
    }

    .cource_para {
      font-size: 20px;
      font-family: 'Droid Serif', sans-serif;
    }

    .cardb {
      width: 200px;
      height: 300px;
      margin-left: 30px;
    }

    .imga {
      border-radius: 50px;
    }

    .ab {
      color: darkcyan;
      margin-top: 10px;

    }

    .bc {
      text-align: justify;
    }

    .card-text {
      text-align: justify;
      font-family: Arial;
    }
  </style>
  <h1 class="text-center">about page</h1>
  <div class="container">
    <div class="row">
      <div class="bg-image" style="background-image: url('img/8.jpeg'); height: 500px; background-repeat: no-repeat; background-size:cover;
             background-position:center;">
        <h1 class="text-center animate__animated animate__heartBeat" style="color: rgb(128, 240, 178); padding-top: 150px;"><b>We will Open the world of
            knowledge
            for you!</b></h1>
        <br><br>
        <h4 class="text-center" style="color: rgba(221, 216, 223, 0.952); padding-top: 10px;">Educating Students For
          Success in a
          Changing World</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <h3 class="ab">History</h3>
      <p class="bc">
        Madhav Institute of Technology & Science (MITS), Gwalior was established in 1957 by His Highness Sir Jiwaji Rao
        Scindia, Maharaja, of the erstwhile state of Gwalior under open door policy of Govt. of India. The foundation
        stone of the institute was laid by the then President Dr. Rajendra Prasad, on 20th October, 1956 and the
        building
        was inaugurated by President Dr. S. Radhakrishnan on 11th December, 1964. On the occasion of Golden Jubilee
        Celebrations of the institute, the president of India, Dr. Pratibha Devi Singh Patil graced the Golden Jubilee
        Celebrations of the institute as Chief Guest on 30th June, 2008. A postal stamp on MITS was also released on
        this
        occasion.
      </p>
      <hr>
      <br><br>

      <h1 class="text-center">Better For A Career In Technology?</h1>


      <div class="col-sm-6">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">B.tech</h5>
            <p class="card-text">B.Tech is a four-year undergraduate program that focuses on the technical aspects of
              engineering, science, and technology. It is a comprehensive course that covers a broad range of subjects,
              including mathematics, physics, chemistry, computer science, electronics, and communication. B.Tech is an
              ideal choice for students who want to specialize in a particular branch of engineering, such as
              mechanical, civil, electrical, or computer science.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">BCA</h5>
            <p class="card-text">BCA is a three-year undergraduate program focusing on computer science and its
              applications. It is a specialized course covering programming languages, algorithms, data structures,
              computer networks, software engineering, and web development. BCA is ideal for students who want to build
              a career in software development, database management, or IT consulting.</p>
          </div>
        </div>
      </div>
      <br></br>
      <h3 class="pt-3" style="color: darkcyan;">Campus, Courses & Centres</h3>
      <p style="text-align: justify;">The institute has a lush green environment conscious campus of around 44.6 acres
        which also includes ‘Madhav-Van’ a small teak wood forest where a large variety of birds can be sighted. The
        Institute offers 11 Bachelors, 18 Masters and Doctoral Degrees Programmes in Engineering and Technology. The
        Institute is a recognized Quality Improvement Programme (QIP) Centre for PG and Ph.D programs. The prime
        objective of the institute is to provide quality technical education at undergraduate and postgraduate
        levels.There is Study Centre of Indira Gandhi National Open University (IGNOU) and Nodal centre of RGPV, Bhopal.

      </p>
      <hr style="color: brown; border:2px solid ;">

      <h3 class="pt-3" style="color: darkcyan;">Infrastructure</h3>
      <p style="text-align: justify;">The Institute has state-of-the-art infrastructure encompassing spacious class
        rooms
        equipped with power point projectors, well equipped laboratories, three boys hostels, two girls hostels, Play
        ground, Gymnasium, Dispensary, Bank, ATM, Stationary & Photocopy shop, Canteen, Amul Parlour, Coffee Shop etc.

        Central Library currently houses over 1,00,000 books, e-journals from Science Direct, ASME and ASCE under
        E-Shodh Sindhu & INFLIBNET consortium. The Institute has a high speed LAN with backbone of optical fiber and
        manageable switches. The institute is equipped with 100 MBPS leased line from NKN, which is providing high speed
        24x7 internet facility in each nook and corner of the Institute.
      </p>
      <hr style="color: brown; border:2px solid ;">

      <h3 class="pt-3" style="color: darkcyan;">Sports Facilities</h3>
      <p style="text-align: justify;">
        The institute has cricket, basketball, football and tennis grounds, and badminton court along with facilities
        for indoor games. The institute has been successively receiving awards and top ranks in many sporting events
        such as Table-Tennis, Badminton, and Basket-ball at the nodal and state level. Prizes are also won in Kho-Kho,
        chess and football.
      </p>
    </div>

  </div>


  <%- include('./footer.ejs') %>