<%- include('./header.ejs') %>

  <style>
    .navbar {
      background-color: #0005;
      height: 100px;
    }

    .navbar-nav li {
      padding: 0 10px;
    }

    .navbar-nav li a {
      color: #fff;
      font-weight: 600;
      font-size: 20px;
    }

    .navbar-nav li a:hover {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 6px;
    }

    .cource heading {
      text-transform: uppercase;
      font-size: 40px;
      position: relative;
      font-family: 'prague', sans-serif;
      text-align: center;
      font-weight: bold;
    }

    .cource_para {
      font-size: 20px;
      font-family: 'Droid Serif', sans-serif;
    }

    .cardb {
      width: 200px;
      height: 300px;
      margin-left: 30px;
    }

    .imga {
      border-radius: 50px;
    }
  </style>
  <!-- <center>
    <h1 class="animate__animated animate__swing">contact Us</h1>
  </center> -->
  <div class="container">
    <div class="row">
      <div class="bg-image animate__animated animate__headShake" style="background-image: url('img/9.jpeg'); height: 500px; background-repeat: no-repeat; background-size:cover;
        background-position:center;">
      </div>
      
      <br><br>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.9679721489433!2d78.20457707449503!3d26.23023018908818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c14c64938e5f%3A0x87b3d6a725f7b077!2sMadhav%20Institute%20of%20Technology%20%26%20Science%2C%20Gwalior!5e0!3m2!1sen!2sin!4v1699171362220!5m2!1sen!2sin"
        width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <%- include('./footer.ejs') %>