<div class="container-fluid bg-info">
    <footer class="">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg col-md-12 mb-md-0">
                    <h5 class="text-uppercase mb-4 block_title">
                        <span>ABOUT US</span>
                    </h5>
                    <p>Lorem ipsum dolor sit amet consectetur,<br> adipisicing elit. Odio</p>
                    <p>Lorem ipsum dolor sit amet, consectetur<br> adipisicing elit.</p>
                    <span class="m-3">
                        <i class="fa-brands fa-facebook-f ms-2"></i>
                        <i class="fa-brands fa-instagram ms-2"></i>
                        <i class="fa-brands fa-twitter ms-2"></i>
                        <i class="fa-brands fa-linkedin-in ms-2"></i>
                    </span>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase mb-4 pb-1">
                        <span>CONTACT</span>
                    </h5>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <span class="fa-li">

                            </span>
                            <span class="ms-2"><i class=" me-3 fa-solid fa-house"></i>Gole Ka mandir, Station
                                road</span>
                        <li class="mb-3">
                            <span clas="ms-2"><i class="  ms-2 me-3 fa fa-envelope"
                                    aria-hidden="true"></i>admissionmits@gmail.com</span>
                        </li>
                        <li>
                            <span class="ms-2"><i class="fa-solid fa-phone me-2"></i>+91 8871482503</span>
                        </li>
                        <li>
                            <span class="ms-2"><i class="fa-solid fa-print me-2 mt-3"></i>+91 8871482503</span>
                        </li>
                    </ul>

                </div>


                <div class="col-lg-4 col-md-5 mb-4">
                    <h5 class="text-uppercase mb-4">
                        <span>Opening hours</span>
                    </h5>
                    <table class="table text-center text-white ">
                        <tbody class="font-weight-normal">
                            <tr>
                                <td>Mon - Thu:</td>
                                <td>8am - 9pm</td>
                            </tr>
                            <tr>
                                <td>Fri - Sat:</td>
                                <td>8am - 1pm</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>9am - 10pm</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
        <div class="text-center p-3" style="background-color: skyblue;">

            © 2023 Copyright:

            <a class="text-white" href="https://www.linkedin.com/in/himanshu-sahu-b9463a17a/">Manorma Joshi</a>
        </div>

    </footer>
</div>
</body>

</html>